In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [64]:
import os
file_path = 'data/netflix_titles_Modified.csv'
file_path2 = 'data/hulu_titles_modified.csv'
print("Current Working Directory:", os.getcwd())

Current Working Directory: /Users/peeyushpatel/Desktop/group/msds593/msds593_group32

In [65]:
try:
    dfNetflix = pd.read_csv(file_path, encoding='ISO-8859-1')
    dfHulu = pd.read_csv(file_path2, encoding='ISO-8859-1')
    print("CSV file loaded successfully.")
except UnicodeDecodeError as e:
    print("UnicodeDecodeError:", e)
    dfNetflix = pd.read_csv(file_path, encoding='utf-8', errors='replace')
    dfHulu = pd.read_csv(file_path2, encoding='ISO-8859-1')
    print("CSV file loaded with 'replace' option for errors.")

CSV file loaded successfully.

In [66]:
dfNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  Index         8807 non-null   int64
 13  IMDB_Rating   8425 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 963.4+ KB

In [67]:
dfNetflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Index,IMDB_Rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",0,7.4
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",1,6.7
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2,7.2
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",3,6.5
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4,9.0
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,5,7.7
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,6,6.8
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",7,7.0
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,8,8.1
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,9,6.4

In [68]:
# Filter rows where 'date_added' is not NaN
dfNetflixClean = dfNetflix[dfNetflix['date_added'].notna()].copy()
dfNetflixClean = dfNetflixClean[dfNetflixClean['IMDB_Rating'].notna()].copy()
dfNetflixClean.info()
dfNetflixClean.shape

<class 'pandas.core.frame.DataFrame'>
Index: 8415 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8415 non-null   object
 1   type          8415 non-null   object
 2   title         8415 non-null   object
 3   director      5926 non-null   object
 4   cast          7649 non-null   object
 5   country       7735 non-null   object
 6   date_added    8415 non-null   object
 7   release_year  8415 non-null   int64
 8   rating        8411 non-null   object
 9   duration      8412 non-null   object
 10  listed_in     8415 non-null   object
 11  description   8415 non-null   object
 12  Index         8415 non-null   int64
 13  IMDB_Rating   8415 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 986.1+ KB

(8415, 14)

In [69]:
dfNetflixClean['date_added'].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [70]:
dfNetflixClean['release_year'].value_counts()

release_year
2018    1094
2017     979
2019     968
2020     912
2016     856
        ...
1942       2
1964       2
1966       1
1961       1
1947       1
Name: count, Length: 72, dtype: int64

In [71]:
dfNetflixClean['date_added'] = pd.to_datetime(dfNetflixClean['date_added'], errors='coerce') 
dfNetflixClean['release_year'] = pd.to_datetime(dfNetflixClean['release_year'], errors='coerce', format='%Y')

In [72]:
# Extract the year from 'date_added' and 'release_year' columns
dfNetflixClean['year_added'] = dfNetflixClean['date_added'].dt.year
dfNetflixClean['release_year'] = dfNetflixClean['release_year'].dt.year

In [73]:
dfNetflixClean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8415 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8415 non-null   object
 1   type          8415 non-null   object
 2   title         8415 non-null   object
 3   director      5926 non-null   object
 4   cast          7649 non-null   object
 5   country       7735 non-null   object
 6   date_added    8329 non-null   datetime64[ns]
 7   release_year  8415 non-null   int32
 8   rating        8411 non-null   object
 9   duration      8412 non-null   object
 10  listed_in     8415 non-null   object
 11  description   8415 non-null   object
 12  Index         8415 non-null   int64
 13  IMDB_Rating   8415 non-null   float64
 14  year_added    8329 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(10)
memory usage: 1019.0+ KB

In [74]:
sorted([i for i in dfNetflixClean['release_year'].unique() if i > 2000])

[2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [75]:
dfNetflixClean['year_added'].unique()

array([2021., 2020., 2019., 2018., 2017., 2016., 2015., 2014., 2013.,
       2012., 2011., 2009., 2008.,   nan, 2010.])

In [76]:
dfHulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  IMDB_Rating   2799 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 312.2+ KB

In [77]:
# Filter rows where 'date_added' is not NaN
dfHuluClean = dfHulu[dfHulu['date_added'].notna()].copy()
dfHuluClean.info()
dfHuluClean.shape

<class 'pandas.core.frame.DataFrame'>
Index: 3045 entries, 0 to 3044
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3045 non-null   object
 1   type          3045 non-null   object
 2   title         3045 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1593 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3045 non-null   int64
 8   rating        2525 non-null   object
 9   duration      2566 non-null   object
 10  listed_in     3045 non-null   object
 11  description   3041 non-null   object
 12  IMDB_Rating   2771 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 333.0+ KB

(3045, 13)

In [78]:
dfHuluClean['date_added'] = pd.to_datetime(dfHuluClean['date_added'], errors='coerce') 
dfHuluClean['release_year'] = pd.to_datetime(dfHuluClean['release_year'], errors='coerce', format='%Y') 
# Extract the year from 'date_added' and 'release_year' columns
dfHuluClean['year_added'] = dfHuluClean['date_added'].dt.year
dfHuluClean['release_year'] = dfHuluClean['release_year'].dt.year

In [79]:
dfNetflixClean[dfNetflixClean['release_year'] >2014].shape
dfHuluClean[dfHuluClean['release_year'] >2014].shape

(1841, 14)

In [80]:
from imdb import IMDb

In [81]:
ia = IMDb()
results=ia.search_movie(dfNetflixClean['title'][0])
movie = results[0]  # Take the first result
ia.update(movie)
rating = movie.get('rating')
print(rating)

7.4

In [82]:
dfHulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  IMDB_Rating   2799 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 312.2+ KB

In [83]:
sorted([i for i in dfHuluClean['release_year'].unique()])
print(min([i for i in dfHuluClean['date_added'].unique()]))

2006-07-14 00:00:00

In [84]:
dfNetflixClean['duration'].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '7 Seasons', '64 min', '59 min', '139 min', '69 min',
       '148 min', '189 min', '141 min', '130 min', '138 min', '81 min',
       '132 min', '10 Seasons', '123 min', '65 min', '68 min', '66 min',
       '62 min', '74 min', '131 min', '46 min', '38 min', '8 Seasons',
       '17 Seasons', '126 min', '39 min', '155 min', '159 min', '12 min',
       '273 min', '34 min', '36 min', '77 min', '60 min', '49 min',
       '58 min', '72 min', '204 min', '212 min', '25 min', '73 min',
       '29 min', '32 min', '35 min', '78 min', '71 min', '149 min',
       '33 min', '54 min', '224 min', '162 min', '37 min', '137 min',
       '75 min', '79 min', '55 min', '158 min', '164 min', '173 min',
       '181 min', '185 min', '21 min', '24 min', '151 min', '42 min',
       '22 min', '134 min', '177 min', '13 Seasons', '14 min', '53 min',
       '8 min', '57 min', '28 min', '50 min', '26 min', '45 min',
       '171 min', '15 min', '27 min', '51 min', '47 min', '44 min',
       '146 min', '20 min', '157 min', '17 min', '203 min', '41 min',
       '30 min', '52 min', '194 min', '15 Seasons', '233 min', '237 min',
       '230 min', '195 min', '253 min', '152 min', '190 min', '160 min',
       '208 min', '180 min', '144 min', '5 min', '174 min', '170 min',
       '192 min', '209 min', '187 min', '172 min', '16 min', '193 min',
       '176 min', '56 min', '169 min', '40 min', '10 min', '3 min',
       '168 min', '312 min', '153 min', '214 min', '31 min', '163 min',
       '19 min', '12 Seasons', nan, '179 min', '11 Seasons', '43 min',
       '200 min', '196 min', '167 min', '178 min', '228 min', '18 min',
       '205 min', '201 min', '191 min'], dtype=object)

In [85]:
dfNetflixClean.groupby('type')['release_year'].quantile([.0, 0.25, .5, 0.75,  1])

type
Movie    0.00    1942.0
         0.25    2012.0
         0.50    2016.0
         0.75    2018.0
         1.00    2021.0
TV Show  0.00    1945.0
         0.25    2016.0
         0.50    2018.0
         0.75    2020.0
         1.00    2021.0
Name: release_year, dtype: float64

In [86]:
dfNetflixClean.groupby('type').count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Index,IMDB_Rating,year_added
type,,,,,,,,,,,,,,
Movie,5861,5861,5706,5428,5510,5861,5861,5859,5858,5861,5861,5861,5861,5861
TV Show,2554,2554,220,2221,2225,2468,2554,2552,2554,2554,2554,2554,2554,2468

In [87]:
dfHuluClean.groupby('type').count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB_Rating,year_added
type,,,,,,,,,,,,,
Movie,1484,1484,3,0,661,1484,1484,1194,1005,1484,1481,1360,1484
TV Show,1561,1561,0,0,932,1561,1561,1331,1561,1561,1560,1411,1561

In [88]:
dfHuluClean.groupby('type')['release_year'].quantile([.0, 0.25, .5, 0.75,  1])

type
Movie    0.00    1923.0
         0.25    2012.0
         0.50    2017.0
         0.75    2019.0
         1.00    2021.0
TV Show  0.00    1933.0
         0.25    2010.0
         0.50    2015.0
         0.75    2019.0
         1.00    2021.0
Name: release_year, dtype: float64