In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import os
file_path = 'data/netflix_titles_Modified.csv'
file_path2 = 'data/hulu_titles_modified.csv'
print("Current Working Directory:", os.getcwd())

Current Working Directory: /Users/peeyushpatel/Desktop/group/msds593/msds593_group32

In [3]:
try:
    dfNetflix = pd.read_csv(file_path, encoding='ISO-8859-1')
    dfHulu = pd.read_csv(file_path2, encoding='ISO-8859-1')
    print("CSV file loaded successfully.")
except UnicodeDecodeError as e:
    print("UnicodeDecodeError:", e)
    dfNetflix = pd.read_csv(file_path, encoding='utf-8', errors='replace')
    dfHulu = pd.read_csv(file_path2, encoding='ISO-8859-1')
    print("CSV file loaded with 'replace' option for errors.")

CSV file loaded successfully.

In [4]:
dfNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  Index         8807 non-null   int64
 13  IMDB_Rating   8425 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 963.4+ KB

In [5]:
dfNetflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Index,IMDB_Rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",0,7.4
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",1,6.7
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2,7.2
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",3,6.5
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4,9.0
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,5,7.7
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,6,6.8
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",7,7.0
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,8,8.1
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,9,6.4

In [6]:
# Filter rows where 'date_added' is not NaN
dfNetflixClean = dfNetflix[dfNetflix['date_added'].notna()].copy()
dfNetflixClean = dfNetflixClean[dfNetflixClean['IMDB_Rating'].notna()].copy()
dfNetflixClean.info()
dfNetflixClean.shape

<class 'pandas.core.frame.DataFrame'>
Index: 8415 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8415 non-null   object
 1   type          8415 non-null   object
 2   title         8415 non-null   object
 3   director      5926 non-null   object
 4   cast          7649 non-null   object
 5   country       7735 non-null   object
 6   date_added    8415 non-null   object
 7   release_year  8415 non-null   int64
 8   rating        8411 non-null   object
 9   duration      8412 non-null   object
 10  listed_in     8415 non-null   object
 11  description   8415 non-null   object
 12  Index         8415 non-null   int64
 13  IMDB_Rating   8415 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 986.1+ KB

(8415, 14)

In [7]:
dfNetflixClean['date_added'].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [8]:
dfNetflixClean['release_year'].value_counts()

release_year
2018    1094
2017     979
2019     968
2020     912
2016     856
        ...
1942       2
1964       2
1966       1
1961       1
1947       1
Name: count, Length: 72, dtype: int64

In [9]:
dfNetflixClean['date_added'] = pd.to_datetime(dfNetflixClean['date_added'], errors='coerce') 
dfNetflixClean['release_year'] = pd.to_datetime(dfNetflixClean['release_year'], errors='coerce', format='%Y')

In [10]:
# Extract the year from 'date_added' and 'release_year' columns
dfNetflixClean['year_added'] = dfNetflixClean['date_added'].dt.year
dfNetflixClean['release_year'] = dfNetflixClean['release_year'].dt.year

In [11]:
dfNetflixClean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8415 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8415 non-null   object
 1   type          8415 non-null   object
 2   title         8415 non-null   object
 3   director      5926 non-null   object
 4   cast          7649 non-null   object
 5   country       7735 non-null   object
 6   date_added    8329 non-null   datetime64[ns]
 7   release_year  8415 non-null   int32
 8   rating        8411 non-null   object
 9   duration      8412 non-null   object
 10  listed_in     8415 non-null   object
 11  description   8415 non-null   object
 12  Index         8415 non-null   int64
 13  IMDB_Rating   8415 non-null   float64
 14  year_added    8329 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(10)
memory usage: 1019.0+ KB

In [12]:
sorted([i for i in dfNetflixClean['release_year'].unique() if i > 2000])

[2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [13]:
dfNetflixClean['year_added'].unique()

array([2021., 2020., 2019., 2018., 2017., 2016., 2015., 2014., 2013.,
       2012., 2011., 2009., 2008.,   nan, 2010.])

In [14]:
dfHulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  IMDB_Rating   2799 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 312.2+ KB

In [15]:
# Filter rows where 'date_added' is not NaN
dfHuluClean = dfHulu[dfHulu['date_added'].notna()].copy()
dfHuluClean = dfHuluClean[dfHuluClean['IMDB_Rating'].notna()].copy()
dfHuluClean.info()
dfHuluClean.shape

<class 'pandas.core.frame.DataFrame'>
Index: 2771 entries, 0 to 3044
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       2771 non-null   object
 1   type          2771 non-null   object
 2   title         2771 non-null   object
 3   director      2 non-null      object
 4   cast          0 non-null      float64
 5   country       1556 non-null   object
 6   date_added    2771 non-null   object
 7   release_year  2771 non-null   int64
 8   rating        2399 non-null   object
 9   duration      2387 non-null   object
 10  listed_in     2771 non-null   object
 11  description   2770 non-null   object
 12  IMDB_Rating   2771 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 303.1+ KB

(2771, 13)

In [16]:
dfHuluClean['date_added'] = pd.to_datetime(dfHuluClean['date_added'], errors='coerce') 
dfHuluClean['release_year'] = pd.to_datetime(dfHuluClean['release_year'], errors='coerce', format='%Y') 
# Extract the year from 'date_added' and 'release_year' columns
dfHuluClean['year_added'] = dfHuluClean['date_added'].dt.year
dfHuluClean['release_year'] = dfHuluClean['release_year'].dt.year

In [17]:
dfNetflixClean[dfNetflixClean['release_year'] >2014].shape
dfHuluClean[dfHuluClean['release_year'] >2014].shape

(1624, 14)

In [18]:
dfHulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  IMDB_Rating   2799 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 312.2+ KB

In [19]:
sorted([i for i in dfHuluClean['release_year'].unique()])
print(min([i for i in dfHuluClean['date_added'].unique()]))

2006-07-14 00:00:00

In [20]:
dfNetflixClean['duration'].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '7 Seasons', '64 min', '59 min', '139 min', '69 min',
       '148 min', '189 min', '141 min', '130 min', '138 min', '81 min',
       '132 min', '10 Seasons', '123 min', '65 min', '68 min', '66 min',
       '62 min', '74 min', '131 min', '46 min', '38 min', '8 Seasons',
       '17 Seasons', '126 min', '39 min', '155 min', '159 min', '12 min',
       '273 min', '34 min', '36 min', '77 min', '60 min', '49 min',
       '58 min', '72 min', '204 min', '212 min', '25 min', '73 min',
       '29 min', '32 min', '35 min', '78 min', '71 min', '149 min',
       '33 min', '54 min', '224 min', '162 min', '37 min', '137 min',
       '75 min', '79 min', '55 min', '158 min', '164 min', '173 min',
       '181 min', '185 min', '21 min', '24 min', '151 min', '42 min',
       '22 min', '134 min', '177 min', '13 Seasons', '14 min', '53 min',
       '8 min', '57 min', '28 min', '50 min', '26 min', '45 min',
       '171 min', '15 min', '27 min', '51 min', '47 min', '44 min',
       '146 min', '20 min', '157 min', '17 min', '203 min', '41 min',
       '30 min', '52 min', '194 min', '15 Seasons', '233 min', '237 min',
       '230 min', '195 min', '253 min', '152 min', '190 min', '160 min',
       '208 min', '180 min', '144 min', '5 min', '174 min', '170 min',
       '192 min', '209 min', '187 min', '172 min', '16 min', '193 min',
       '176 min', '56 min', '169 min', '40 min', '10 min', '3 min',
       '168 min', '312 min', '153 min', '214 min', '31 min', '163 min',
       '19 min', '12 Seasons', nan, '179 min', '11 Seasons', '43 min',
       '200 min', '196 min', '167 min', '178 min', '228 min', '18 min',
       '205 min', '201 min', '191 min'], dtype=object)

In [21]:
dfNetflixClean['year_added'].quantile([.0, 0.25, .5, 0.75,  1])

0.00    2008.0
0.25    2018.0
0.50    2019.0
0.75    2020.0
1.00    2021.0
Name: year_added, dtype: float64

In [22]:
dfNetflixClean.groupby('type').count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Index,IMDB_Rating,year_added
type,,,,,,,,,,,,,,
Movie,5861,5861,5706,5428,5510,5861,5861,5859,5858,5861,5861,5861,5861,5861
TV Show,2554,2554,220,2221,2225,2468,2554,2552,2554,2554,2554,2554,2554,2468

In [23]:

print(dfNetflixClean[dfNetflixClean['year_added'] >= 2020]['date_added'].count())

3243

In [24]:
dfHuluClean.groupby('type').count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB_Rating,year_added
type,,,,,,,,,,,,,
Movie,1360,1360,2,0,653,1360,1360,1137,976,1360,1359,1360,1360
TV Show,1411,1411,0,0,903,1411,1411,1262,1411,1411,1411,1411,1411

In [25]:
dfHuluClean['year_added'].quantile([.0, 0.25, .5, 0.75,  1])

0.00    2006.0
0.25    2018.0
0.50    2020.0
0.75    2021.0
1.00    2021.0
Name: year_added, dtype: float64

In [26]:
print(dfHuluClean[dfHuluClean['year_added'] >= 2020]['date_added'].count())

1714

In [27]:
da1 =[dfNetflixClean[dfNetflixClean["IMDB_Rating"]>7]["IMDB_Rating"].count(),
dfNetflixClean[dfNetflixClean["IMDB_Rating"]>8]["IMDB_Rating"].count(),
dfNetflixClean[dfNetflixClean["IMDB_Rating"]>9]["IMDB_Rating"].count(),
dfHuluClean[dfHuluClean["IMDB_Rating"]>7]["IMDB_Rating"].count(),
dfHuluClean[dfHuluClean["IMDB_Rating"]>8]["IMDB_Rating"].count(),
dfHuluClean[dfHuluClean["IMDB_Rating"]>9]["IMDB_Rating"].count(),
]

In [28]:
print(da1)

[3080, 736, 38, 1231, 342, 9]

In [29]:
netflixDocChecklist = ["Documentaries","Docuseries"]
huluDocChecklist = ["Cooking & Food","Documentaries","Lifestyle & Culture","History"]

In [30]:
def inCheck(checklist, lst):
    if isinstance(lst, float):
        return False
    if isinstance(lst, type):
        return False
    for i in checklist:
        if i in lst:
            return True
    return False

In [31]:
dfHuluClean[[inCheck( huluDocChecklist, i) for i in dfHuluClean["listed_in"]]]["listed_in"].count()
dfNetflixClean[[inCheck( netflixDocChecklist, i) for i in dfNetflixClean["listed_in"]]]["listed_in"].count()

1198

In [32]:
dfNetflix1500 =  dfNetflixClean.sort_values(by='date_added', ascending=False).head(1500).copy()

In [33]:
# dfNetflix1500.head(15)

In [34]:
dfNetflix1500.tail(15)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Index,IMDB_Rating,year_added
1528,s1529,TV Show,Run On,NaN,"Yim Si-wan, Shin Sae-kyeong, Choi Soo-young, K...",South Korea,2020-12-17,2020,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Veering off course from his preset path, a tra...",1528,7.4,2020.0
1523,s1524,Movie,An Unremarkable Christmas,Juan Camilo Pinzon,"Antonio Sanint, Luis Eduardo Arango, MarÃ­a Ce...",Colombia,2020-12-17,2020,TV-14,83 min,"Comedies, Dramas, International Movies",An accountant and aspiring magician invites hi...,1523,3.3,2020.0
1524,s1525,Movie,Braven,Lin Oeding,"Jason Momoa, Garret Dillahunt, Jill Wagner, St...",Canada,2020-12-17,2018,R,94 min,Action & Adventure,A logger defends himself and his family from a...,1524,5.9,2020.0
1526,s1527,Movie,Love You to the Stars and Back,Antoinette Jadaone,"Julia Barretto, Joshua Garcia, Carmina Villaro...",Philippines,2020-12-17,2017,TV-14,111 min,"Comedies, International Movies, Romantic Movies","In search of aliens, a young woman's road trip...",1526,7.4,2020.0
1527,s1528,TV Show,Morphle,NaN,NaN,Netherlands,2020-12-17,2020,TV-Y,2 Seasons,"British TV Shows, Kids' TV",Little Mila turns playtime into a series of fu...,1527,4.2,2020.0
1529,s1530,Movie,Sakaling Maging Tayo,JP Habac,"McCoy De Leon, Elisse Joson, Bembol Roco, Chai...",Philippines,2020-12-17,2019,TV-14,90 min,"International Movies, Romantic Movies",A college student seizes his chance with a cru...,1529,6.7,2020.0
1530,s1531,TV Show,Schulz Saves America,Alexx Media,Andrew Schulz,United States,2020-12-17,2020,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies",Comedian Andrew Schulz takes on the year's mos...,1530,7.3,2020.0
1531,s1532,Movie,The Wedding Shaman,Farishad I. Latjuba,"Atiqah Hasiholan, Tutie Kirana, Arifin Putra, ...",NaN,2020-12-17,2019,TV-PG,111 min,"Dramas, International Movies, Romantic Movies","After a betrayal at work, a finance profession...",1531,7.1,2020.0
1536,s1537,Movie,Incarnate,Brad Peyton,"Aaron Eckhart, Carice van Houten, Catalina San...",United States,2020-12-16,2016,PG-13,87 min,"Horror Movies, Thrillers",An unconventional demon hunter faces his great...,1536,5.3,2020.0
1534,s1535,Movie,Bwakaw,Jun Lana,"Eddie Garcia, Princess, Rez Cortez, Bibeth Ort...","Philippines, Canada, United Kingdom, United St...",2020-12-16,2012,TV-MA,110 min,"Dramas, International Movies, LGBTQ Movies","Gruff and alone, retiree Rene rejects most hum...",1534,7.1,2020.0
1532,s1533,TV Show,Anitta: Made In HonÃ³rio,"Andrucha Waddington, Pedro Waddington",Anitta,Brazil,2020-12-16,2020,TV-MA,1 Season,"Docuseries, International TV Shows","In this intimate documentary, Brazilian pop qu...",1532,6.9,2020.0
1533,s1534,TV Show,BREAK IT ALL: The History of Rock in Latin Ame...,Picky Talarico,NaN,NaN,2020-12-16,2020,TV-MA,1 Season,"Docuseries, Spanish-Language TV Shows","Soda Stereo, CafÃ© Tacvba, Aterciopelados and ...",1533,7.6,2020.0
1538,s1539,TV Show,Marvel Anime: Wolverine,NaN,"Rikiya Koyama, Romi Park, Fumiko Orikasa, Hide...","United States, Japan",2020-12-16,2011,TV-14,1 Season,"Anime Series, International TV Shows","Logan, aka mutant X-Man Wolverine, is on a que...",1538,6.2,2020.0
1539,s1540,TV Show,Marvel Anime: X-Men,NaN,"Toshiyuki Morikawa, Rikiya Koyama, Katsunosuke...",Japan,2020-12-16,2011,TV-14,1 Season,"Anime Series, International TV Shows","A year after their dissolution, the X-Men are ...",1539,6.8,2020.0
1540,s1541,Movie,Nocturnal Animals,Tom Ford,"Amy Adams, Jake Gyllenhaal, Michael Shannon, A...",United States,2020-12-16,2016,R,117 min,"Dramas, Thrillers",Reading her ex-husband's violent novel manuscr...,1540,7.5,2020.0

In [35]:
dfHulu1500 =  dfHuluClean.sort_values(by='date_added', ascending=False).head(1500).copy()

In [36]:
# dfHulu1500.head(15)

In [37]:
dfHulu1500.tail(15)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB_Rating,year_added
1656,s1657,Movie,Top End Wedding,NaN,NaN,Australia,2020-05-22,2019,102 min,NaN,"Comedy, Romance","Lauren and Ned are engaged, they are in love, ...",6.3,2020
1657,s1658,TV Show,K.C. Undercover,NaN,NaN,United States,2020-05-21,2015,TV-Y7,3 Seasons,"Black Stories, Comedy, Family",High school student K.C. Cooper goes undercove...,6.5,2020
1658,s1659,Movie,Red Dog,NaN,NaN,"United States, Costa Rica",2020-05-21,2019,102 min,NaN,Documentaries,Hit songwriter Luke Dick spent his childhood i...,7.3,2020
1664,s1665,Movie,Cosmos,NaN,NaN,United Kingdom,2020-05-20,2019,129 min,NaN,"Action, Adventure, Drama",Three amateur astronomers accidentally interce...,9.2,2020
1669,s1670,Movie,The Mandela Effect,NaN,NaN,United States,2020-05-20,2019,80 min,NaN,"Horror, Science Fiction, Thriller",A man becomes obsessed with facts and events t...,5.8,2020
1666,s1667,TV Show,Morphle,NaN,NaN,NaN,2020-05-20,2019,NaN,1 Season,"Action, Adventure, Family",My Magic Pet Morphle' is an animated hit TV sh...,4.2,2020
1665,s1666,Movie,Da Sweet Blood of Jesus,NaN,NaN,NaN,2020-05-20,2015,NaN,124 min,"Comedy, Horror, Thriller","In this stylized Spike Lee thriller, a man cur...",4.5,2020
1668,s1669,TV Show,Scandal,NaN,NaN,NaN,2020-05-20,2012,TV-14,7 Seasons,"Black Stories, Drama",A former media relations consultant to the Pre...,7.7,2020
1663,s1664,Movie,Big Men,NaN,NaN,"United Kingdom, Denmark, United States",2020-05-20,2013,100 min,NaN,Documentaries,"Executive produced by Brad Pitt, Big Men is a ...",7.2,2020
1660,s1661,Movie,Above the Shadows,NaN,NaN,United States,2020-05-20,2019,111 min,NaN,"Drama, Science Fiction","A supernatural tale starring Olivia Thirlby, A...",6.1,2020
1662,s1663,Movie,Autonomy,NaN,NaN,United States,2020-05-20,2019,80 min,NaN,Documentaries,"Acclaimed author, Malcolm Gladwell, leads this...",6.4,2020
1659,s1660,Movie,2nd Date Sex,NaN,NaN,NaN,2020-05-20,2019,NaN,81 min,"Comedy, Romance",How Bad can a second date get? Laura and Ryan ...,5.5,2020
1667,s1668,Movie,Saving Atlantis,NaN,NaN,"United States, Australia, Colombia, French Pol...",2020-05-20,2018,NaN,75 min,Documentaries,Saving Atlantis focuses on the loss of coral r...,7.6,2020
1661,s1662,Movie,Already Tomorrow in Hong Kong,NaN,NaN,"United States, Hong Kong",2020-05-20,2015,78 min,NaN,"Comedy, Romance",Ruby and Josh spent an unforgettable night tog...,6.4,2020
1678,s1679,Movie,Saving Flora,NaN,NaN,NaN,2020-05-15,2018,TV-PG,96 min,"Action, Adventure, Drama",After learning that an aging circus elephant i...,5.9,2020

In [38]:
dfHulu1500[[inCheck( huluDocChecklist, i) for i in dfHulu1500["listed_in"]]]["listed_in"].count()
dfNetflix1500[[inCheck( netflixDocChecklist, i) for i in dfNetflix1500["listed_in"]]]["listed_in"].count()

163

In [39]:
dfNetflixA2020 = dfNetflixClean[dfNetflixClean['year_added']>=2020]
dfHuluA2020 = dfHuluClean[dfHuluClean['year_added']>=2020]

In [40]:
print(dfHuluA2020.shape, dfNetflixA2020.shape)

(1714, 14) (3243, 15)

In [41]:
print(dfHuluA2020[[inCheck( huluDocChecklist, i) for i in dfHuluA2020["listed_in"]]]["listed_in"].count(),
dfNetflixA2020[[inCheck( netflixDocChecklist, i) for i in dfNetflixA2020["listed_in"]]]["listed_in"].count())

441 348

In [42]:
print(dfHulu1500[[inCheck( huluDocChecklist, i) for i in dfHulu1500["listed_in"]]]["listed_in"].count(),
dfNetflix1500[[inCheck( netflixDocChecklist, i) for i in dfNetflix1500["listed_in"]]]["listed_in"].count())

384 163

In [43]:
print(dfHuluClean[[inCheck( huluDocChecklist, i) for i in dfHuluClean["listed_in"]]]["listed_in"].count(),
dfNetflixClean[[inCheck( netflixDocChecklist, i) for i in dfNetflixClean["listed_in"]]]["listed_in"].count())

626 1198

In [44]:
dfNetflix1500.groupby("country")['country'].value_counts()

country
, France, Algeria                                  1
, South Korea                                      1
Argentina                                          8
Argentina, Chile                                   1
Argentina, Spain                                   1
                                                  ..
United States, United Kingdom, Germany, Hungary    1
United States, United Kingdom, New Zealand         1
Uruguay                                            1
Uruguay, Germany                                   1
Vietnam                                            2
Name: count, Length: 195, dtype: int64

In [45]:
def notInCheck(checklist, lst):
    # Check if lst is not a float and is a list
    # if not isinstance(lst, list):
    #     return False
    if isinstance(lst, float):
        return False
    
    # Check if any element in checklist is not in lst
    res= True
    for i in checklist:
        if i in lst:
            res = False
        else:
            res = res & True
    
    return res

In [46]:
print(dfHulu1500[[notInCheck( ['United States'], i) for i in dfHulu1500["country"]]]["country"].count(), 
dfNetflix1500[[notInCheck( ['United States'], i) for i in dfNetflix1500["country"]]]["country"].count())

113 536

In [47]:
print(dfHulu1500[[notInCheck( ['United States', 'United Kingdom'], i) for i in dfHulu1500["country"]]]["country"].count(),
dfNetflix1500[[notInCheck( ['United States', 'United Kingdom'], i) for i in dfNetflix1500["country"]]]["country"].count())

65 474

In [48]:
print(dfHuluA2020[[notInCheck( ['United States', 'United Kingdom'], i) for i in dfHuluA2020["country"]]]["country"].count(),
dfNetflixA2020[[notInCheck( ['United States', 'United Kingdom'], i) for i in dfNetflixA2020["country"]]]["country"].count())

112 1268

In [49]:
print(dfHuluA2020[[notInCheck( ['United States'], i) for i in dfHuluA2020["country"]]]["country"].count(),
dfNetflixA2020[[notInCheck( ['United States'], i) for i in dfNetflixA2020["country"]]]["country"].count())

167 1407

In [50]:
dfHuluClean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2771 entries, 0 to 3044
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       2771 non-null   object
 1   type          2771 non-null   object
 2   title         2771 non-null   object
 3   director      2 non-null      object
 4   cast          0 non-null      float64
 5   country       1556 non-null   object
 6   date_added    2771 non-null   datetime64[ns]
 7   release_year  2771 non-null   int32
 8   rating        2399 non-null   object
 9   duration      2387 non-null   object
 10  listed_in     2771 non-null   object
 11  description   2770 non-null   object
 12  IMDB_Rating   2771 non-null   float64
 13  year_added    2771 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(2), object(9)
memory usage: 303.1+ KB

In [51]:
da2 =[dfNetflix1500[dfNetflix1500["IMDB_Rating"]>7]["IMDB_Rating"].count(),
dfNetflix1500[dfNetflix1500["IMDB_Rating"]>8]["IMDB_Rating"].count(),
dfNetflix1500[dfNetflixClean["IMDB_Rating"]>9]["IMDB_Rating"].count(),
dfHulu1500[dfHulu1500["IMDB_Rating"]>7]["IMDB_Rating"].count(),
dfHulu1500[dfHulu1500["IMDB_Rating"]>8]["IMDB_Rating"].count(),
dfHulu1500[dfHulu1500["IMDB_Rating"]>9]["IMDB_Rating"].count(),
]

/var/folders/1g/bksky7bd2wb927qzgc2fqjhc0000gn/T/ipykernel_17124/2071685897.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfNetflix1500[dfNetflixClean["IMDB_Rating"]>9]["IMDB_Rating"].count(),

In [52]:
print(da2)

[518, 129, 8, 563, 147, 6]

In [53]:
print(dfHulu1500[[inCheck( huluDocChecklist, i) for i in dfHulu1500["listed_in"]]]["listed_in"].count(),
dfNetflix1500[[inCheck( netflixDocChecklist, i) for i in dfNetflix1500["listed_in"]]]["listed_in"].count())

384 163

In [54]:
dfNetflix1500["rating"].value_counts()

rating
TV-MA    495
TV-14    318
R        195
PG-13    148
TV-PG     99
TV-Y7     77
TV-Y      61
PG        59
TV-G      44
G          4
Name: count, dtype: int64

In [55]:
dfHulu1500["rating"].value_counts()

rating
TV-14        250
R            247
TV-PG        138
PG-13        128
TV-MA        119
            ...
121 min        1
136 min        1
4 Seasons      1
NOT RATED      1
129 min        1
Name: count, Length: 66, dtype: int64

In [56]:
familyFriendlyChecklist = ['TV-Y', 'TV-Y7', 'TV-G','TV-PG', 'PG', 'PG-PG']

In [57]:
print(dfHulu1500[[inCheck( familyFriendlyChecklist, i) for i in dfHulu1500["rating"]]]["rating"].count(),
dfNetflix1500[[inCheck( familyFriendlyChecklist, i) for i in dfNetflix1500["rating"]]]["rating"].count())

425 488

In [58]:
print(dfHuluA2020[[inCheck( familyFriendlyChecklist, i) for i in dfHuluA2020["rating"]]]["rating"].count(),
dfNetflixA2020[[inCheck( familyFriendlyChecklist, i) for i in dfNetflixA2020["rating"]]]["rating"].count())

465 1010

In [59]:
dfHulu1500.to_csv('hulu_1500.csv', index=False)
dfNetflix1500.to_csv('netflix_1500.csv', index=False)

In [60]:
dfHuluA2020.to_csv('hulu_2020.csv', index=False)
dfNetflixA2020.to_csv('netflix_2020.csv', index=False)

In [82]:
dfHulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  IMDB_Rating   2799 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 312.2+ KB

In [83]:
sorted([i for i in dfHuluClean['release_year'].unique()])
print(min([i for i in dfHuluClean['date_added'].unique()]))

2006-07-14 00:00:00

In [84]:
dfNetflixClean['duration'].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '7 Seasons', '64 min', '59 min', '139 min', '69 min',
       '148 min', '189 min', '141 min', '130 min', '138 min', '81 min',
       '132 min', '10 Seasons', '123 min', '65 min', '68 min', '66 min',
       '62 min', '74 min', '131 min', '46 min', '38 min', '8 Seasons',
       '17 Seasons', '126 min', '39 min', '155 min', '159 min', '12 min',
       '273 min', '34 min', '36 min', '77 min', '60 min', '49 min',
       '58 min', '72 min', '204 min', '212 min', '25 min', '73 min',
       '29 min', '32 min', '35 min', '78 min', '71 min', '149 min',
       '33 min', '54 min', '224 min', '162 min', '37 min', '137 min',
       '75 min', '79 min', '55 min', '158 min', '164 min', '173 min',
       '181 min', '185 min', '21 min', '24 min', '151 min', '42 min',
       '22 min', '134 min', '177 min', '13 Seasons', '14 min', '53 min',
       '8 min', '57 min', '28 min', '50 min', '26 min', '45 min',
       '171 min', '15 min', '27 min', '51 min', '47 min', '44 min',
       '146 min', '20 min', '157 min', '17 min', '203 min', '41 min',
       '30 min', '52 min', '194 min', '15 Seasons', '233 min', '237 min',
       '230 min', '195 min', '253 min', '152 min', '190 min', '160 min',
       '208 min', '180 min', '144 min', '5 min', '174 min', '170 min',
       '192 min', '209 min', '187 min', '172 min', '16 min', '193 min',
       '176 min', '56 min', '169 min', '40 min', '10 min', '3 min',
       '168 min', '312 min', '153 min', '214 min', '31 min', '163 min',
       '19 min', '12 Seasons', nan, '179 min', '11 Seasons', '43 min',
       '200 min', '196 min', '167 min', '178 min', '228 min', '18 min',
       '205 min', '201 min', '191 min'], dtype=object)

In [85]:
dfNetflixClean.groupby('type')['release_year'].quantile([.0, 0.25, .5, 0.75,  1])

type
Movie    0.00    1942.0
         0.25    2012.0
         0.50    2016.0
         0.75    2018.0
         1.00    2021.0
TV Show  0.00    1945.0
         0.25    2016.0
         0.50    2018.0
         0.75    2020.0
         1.00    2021.0
Name: release_year, dtype: float64

In [86]:
dfNetflixClean.groupby('type').count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Index,IMDB_Rating,year_added
type,,,,,,,,,,,,,,
Movie,5861,5861,5706,5428,5510,5861,5861,5859,5858,5861,5861,5861,5861,5861
TV Show,2554,2554,220,2221,2225,2468,2554,2552,2554,2554,2554,2554,2554,2468

In [87]:
dfHuluClean.groupby('type').count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB_Rating,year_added
type,,,,,,,,,,,,,
Movie,1484,1484,3,0,661,1484,1484,1194,1005,1484,1481,1360,1484
TV Show,1561,1561,0,0,932,1561,1561,1331,1561,1561,1560,1411,1561

In [88]:
dfHuluClean.groupby('type')['release_year'].quantile([.0, 0.25, .5, 0.75,  1])

type
Movie    0.00    1923.0
         0.25    2012.0
         0.50    2017.0
         0.75    2019.0
         1.00    2021.0
TV Show  0.00    1933.0
         0.25    2010.0
         0.50    2015.0
         0.75    2019.0
         1.00    2021.0
Name: release_year, dtype: float64