In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [88]:
import os
file_path = '../data/netflix_titles_Modified.csv'
file_path2 = '../data/hulu_titles_modified.csv'
print("Current Working Directory:", os.getcwd())

Current Working Directory: /Users/peeyushpatel/Desktop/group/msds593/topic3

In [89]:
try:
    dfNetflix = pd.read_csv(file_path, encoding='ISO-8859-1')
    dfHulu = pd.read_csv(file_path2, encoding='ISO-8859-1')
    print("CSV file loaded successfully.")
except UnicodeDecodeError as e:
    print("UnicodeDecodeError:", e)
    dfNetflix = pd.read_csv(file_path, encoding='utf-8', errors='replace')
    dfHulu = pd.read_csv(file_path2, encoding='ISO-8859-1')
    print("CSV file loaded with 'replace' option for errors.")

CSV file loaded successfully.

In [90]:
dfNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [91]:
dfNetflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [92]:
# Filter rows where 'date_added' is not NaN
dfNetflixClean = dfNetflix[dfNetflix['date_added'].notna()].copy()
dfNetflixClean.info()
dfNetflixClean.shape

<class 'pandas.core.frame.DataFrame'>
Index: 8797 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8797 non-null   object
 1   type          8797 non-null   object
 2   title         8797 non-null   object
 3   director      6173 non-null   object
 4   cast          7972 non-null   object
 5   country       7967 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8797 non-null   int64
 8   rating        8793 non-null   object
 9   duration      8794 non-null   object
 10  listed_in     8797 non-null   object
 11  description   8797 non-null   object
dtypes: int64(1), object(11)
memory usage: 893.4+ KB

(8797, 12)

In [93]:
dfNetflixClean['date_added'].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [94]:
dfNetflixClean['release_year'].head(10)

0    2020
1    2021
2    2021
3    2021
4    2021
5    2021
6    2021
7    1993
8    2021
9    2021
Name: release_year, dtype: int64

In [95]:
dfNetflixClean['date_added'] = pd.to_datetime(dfNetflixClean['date_added'], errors='coerce') 
dfNetflixClean['release_year'] = pd.to_datetime(dfNetflixClean['release_year'], errors='coerce', format='%Y')

In [96]:
# Extract the year from 'date_added' and 'release_year' columns
dfNetflixClean['year_added'] = dfNetflixClean['date_added'].dt.year
dfNetflixClean['release_year'] = dfNetflixClean['release_year'].dt.year

In [97]:
sorted([i for i in dfNetflixClean['release_year'].unique() if i > 2000])

[2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [98]:
dfNetflixClean['year_added'].unique()

array([2021., 2020., 2019., 2018., 2017., 2016., 2015., 2014., 2013.,
       2012., 2011., 2009., 2008.,   nan, 2010.])

In [102]:
dfHulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [103]:
# Filter rows where 'date_added' is not NaN
dfHuluClean = dfHulu[dfHulu['date_added'].notna()].copy()
dfHuluClean.info()
dfHuluClean.shape

<class 'pandas.core.frame.DataFrame'>
Index: 3045 entries, 0 to 3044
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3045 non-null   object
 1   type          3045 non-null   object
 2   title         3045 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1593 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3045 non-null   int64
 8   rating        2525 non-null   object
 9   duration      2566 non-null   object
 10  listed_in     3045 non-null   object
 11  description   3041 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 309.3+ KB

(3045, 12)

In [106]:
dfHuluClean['date_added'] = pd.to_datetime(dfHuluClean['date_added'], errors='coerce') 
dfHuluClean['release_year'] = pd.to_datetime(dfHuluClean['release_year'], errors='coerce', format='%Y') 
# Extract the year from 'date_added' and 'release_year' columns
dfHuluClean['year_added'] = dfHuluClean['date_added'].dt.year
dfHuluClean['release_year'] = dfHuluClean['release_year'].dt.year

In [113]:
dfNetflixClean[dfNetflixClean['release_year'] >2014].shape
dfHuluClean[dfHuluClean['release_year'] >2014].shape

(6212, 13)

In [114]:
from imdb import IMDb

In [118]:
ia = IMDb()
results=ia.search_movie(dfNetflixClean['title'][0])
movie = results[0]  # Take the first result
ia.update(movie)
rating = movie.get('rating')
print(rating)

7.4